<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TDD With Mocha and Node</title>
        <meta charset="utf-8">
    </head>
    <body>
        <p>Valid PIDs</p>
        <ul>
            <li><a class="btn btn-default" href="/product/281246600">PID: 281246600</a></li>
            <li><a class="btn btn-default" href="/product/281371500">PID: 281371500</a></li>
            <li><a class="btn btn-default" href="/product/278294000">PID: 278294000</a></li>
        </ul>

        <p>Invalid PIDs</p>
        <ul>
            <li><a class="btn btn-default" href="/product/x501">PID: x501</a></li>
            <li><a class="btn btn-default" href="/product/1234">PID: 1234</a></li>
            <li><a class="btn btn-default" href="/product/123456789">PID: 123456789</a></li>
        </ul>
    </body>
</html>